* {
	margin: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	
}

html {
	height: 100%;
	scroll-behavior: smooth;
	
}

body {
	/*background-color: rgb(28, 38, 59);*/
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	background-color: #1D263B;
	
}






.font-header {
	font-family: 'Inconsolata', monospace;

}

.container-fluid {
	font-family: 'Inconsolata', monospace;
	background-color: #1D263B;;

}



.container{
	padding-bottom: 200px;

}

/* Add this rule to your stylesheet */
a.no-underline {
    text-decoration: none;
}


.font-paragraph {
	font-family: 'Open Sans', sans-serif;
	
	
}

nav {
	
	padding-top: 2em ;
	padding-bottom: 0 !important;	
	font-size: 2.5em;
	padding-right: 30px;
	background-color:#1D263B;
	


}

.nav-item {
    color: white; /* Change this to the desired color */
	padding-left: 50px;
	
	
	
}



#navbar-collapse-1 a {
    color: white; /* Original color */
}

#navbar-collapse-1 a:hover {
    color: rgb(235, 148, 207);
    text-decoration: underline;
}

.dropdown-menu a:hover {
    color:  rgb(235, 148, 207) !important;
    background-color: transparent !important;
}



.dropdown-menu a:hover:before {
    background-color: transparent !important;
	background-color: white;
}



.dropdown-menu li {
	background-color: #00ff00;
	
}



h1,h2,h3,h4,h5,h6 {
	font-family: 'Concert One', cursive;
	color: rgb(235, 148, 207);
}

#user-name {
	font-size: 5em;
	text-transform: uppercase;
}

.user-description {

	margin-top: 20px;
	width: 100%;
	font-size: 2em;
	color: rgb(239, 222, 200);
}

#techStack .techStackTitle {
	color: white;
	font-family: 'Inconsolata', monospace;
	font-weight: bold;
	margin-top: 100px;
	text-align: center;
	font-size: 2.6em;
}



.social-buttons,
.social-buttons li {
	display: flex;
	padding: 0;
	margin: 0;
	flex-basis: 25%;
	flex-shrink: 0;
	flex-grow: 1;
	background-size:cover;
	
}

/**
 * Force to occupy the space available
 * and allow item being on several lines
 */
.social-buttons {
	width: 100%;
	list-style: none;
	flex-wrap: wrap;
	
}


.social-buttons a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 1em .5em 1em;
	font-size: 20px;
	text-decoration: none;
	color: #FFF;
	border-radius:15px;
	margin:5px;
	font-weight: bold;
	transition: box-shadow .3s;
}



 .social-buttons a:hover{
	box-shadow: 0 0 20px  blue; 


}






.social-buttons a img{
	width: 80px;
	height: auto;
	
}

.social-buttons i {
	margin-right: .5em;
}

.social-buttons .lang {
	background: rgb(19, 149, 19);
}

.social-buttons .frameworks {
	background: rgb(34, 183, 34);
	
}


.social-buttons .dev-env {
	
	background:  rgb(82, 208, 82);
}



.flex-wrapper {
	display: flex;
  	min-height: 100vh;
	margin: 0px auto 0 auto;
  	flex-direction: column;
	justify-content: space-between;
	padding-top: 200px;
	color: white;
}


.flex-wrapper .border-div {
    border: 3px solid rgb(12, 151, 21);
	border-radius: 20px;
	background-color: rgb(49, 35, 35);
}





 .major {
	color: rgb(239, 222, 200); /* Change this to the desired color for Major */
	font-size: 30px;
	font-family: 'Inconsolata', monospace;
	font-weight: 500;
	
}

 .about {
	color: rgb(235, 148, 207); /* Change this to the desired color for Major */
	font-size: 30px;
	font-family: 'Inconsolata', monospace;
	font-weight: 500;
	
}



.user-profile {
	padding-top: 1em;
}

.user-picture {
	border-style: solid;
	border-color: rgb(200, 239, 214);
	border-width: 2px;
	padding: 10px;
	border-radius: 50%;
	padding-bottom: 0%;


}

#Circleframe {
	border-style: solid;
	border-width: 2px;
	border-color: rgb(239, 222, 200);
	padding-right: 30px; /* Add padding to create space around the image */
	padding-left: 30px; 
	padding-top: 20px;
	padding-bottom: 20px;
}

#CircleframeLinkedIn {
	border-style: solid;
	border-width: 2px;
	border-color: rgb(239, 222, 200);
	padding-right: 17px; /* Add padding to create space around the image */
	padding-left: 17px; 
	padding-top: 18px;
	padding-bottom: 18px;
}

#CircleframeEmail {
	border-style: solid;
	border-width: 2px;
	border-color: rgb(239, 222, 200);
	padding-right: 27px; /* Add padding to create space around the image */
	padding-left: 27px; 
	padding-top: 13px;
	padding-bottom: 17px;
}

.caption{
	font-size:20px;
	font-family: 'Inconsolata', monospace;
	padding-top: 5px;
	font-weight: bold;
}




.about-picture{
	border-width: 2px;
	margin-top: 20px;
	size: 20px;

}





i   {
	color: rgb(239, 217, 200);

}





.post-link {
	float: left;
}

.post-date {
	float: right;
}

.post-header {
	background-color: rgb(235, 148, 207);;
	overflow: hidden;
	padding: 0 5px 0 5px;
	
}

.post-summary, .post-content{
	clear: both;
}



.post-summary {
	padding: 0 5px 0 5px;
	font-size: initial;
}

.post-list-footer {
	padding-bottom: 5px;
}

#post-list {
	list-style: none;
	padding-left: 0;
}

.post-list-item {
	margin-top: 20px;
	border-style: solid;
	border-width: 0 0 3px 0;
}

.post-comments {
	padding-top: 10px;
	border-top-style: solid;
}

.wrapper {
	min-height: 100%;
	margin: 50px auto;
}

.footer {
	background-color:rgb(28, 38, 59);
	width: 100%;
	bottom: 0;
	left: 0;
	height:20px;
	padding-left: 2em;
	color:white

}

.footer p {
	margin: 0 !important;
	font-size: initial;
}

.col-centered{
	float: none;
	margin: 0 auto;
	
}



div p {
	text-align: justify;
	word-spacing: 0px;
}

td {
	margin: 0 20px 0px 20px;
}

.aboutMeTitle {
	text-align: center;
	margin:0 auto;
	font-size: 4em;
}


/*---------------------------TESTING-----------------------------------------------------------*/

  
  .fakeButtons {
	height: 10px;
	width: 10px;
	border-radius: 50%;
	border: 1px solid #000;
	position: relative;
	top: 6px;
	left: 6px;
	background-color: #ff3b47;
	border-color: #9d252b;
	display: inline-block;
  }
  
  .fakeMinimize {
	left: 11px;
	background-color: #ffc100;
	border-color: #9d802c;
  }
  
  .fakeZoom {
	left: 16px;
	background-color: #00d742;
	border-color: #049931;
  }
  
  .fakeMenu {
	width: 100%;
	box-sizing: border-box;
	height: 40px;
	background-color: #bbb;
	margin: 0 auto;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	border: 3px solid #63be4c;
	border-bottom:#000;

	

  }
  
  .fakeScreen {
	background-color: #272727;
	box-sizing: border-box;
	width: 100%;
	margin: 0 auto;
	padding: 20px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	border: 3px solid #63be4c;
	border-top:#000;


  }
  
  
  .terminalPrompt {
	color:#52cd54;
	font-weight: bold;
  }
  
  .lines {
	color: #fff;
	font-size: 25px;
	font-family: 'Inconsolata', monospace;
  }
  .responses{
	font-weight: bold;
	color: white;
  }
  
  .line2 {
	color: #CDEE69;
  }

  
  
  
  .line3 {
	color: #E09690;
	
  }
  
 
  .line4 {
	color: #fff;
  }
  
  .cursor4 {
	-webkit-animation: blink 1s infinite;
	-moz-animation: blink 1s infinite;
	-o-animation: blink 1s infinite;
	animation: blink 1s infinite;
  }
  
  
  
  
  
  @keyframes blink {
	0% {
	  opacity: 0;
	}
	40% {
	  opacity: 0;
	}
	50% {
	  opacity: 1;
	}
	90% {
	  opacity: 1;
	}
	100% {
	  opacity: 0;
	}
  }
  
  

 .terminal-container{
	width: 100%;

	
}

 

 .profile-container{
	margin-top: 0px;
	display: flex;
	flex-direction: column;
	align-items:center;

 }

 


@media only screen and (min-width: 768px) {
	.profile-container{
		margin: 0px auto 0 auto;
		flex-direction: row;
		justify-content: center;
		width: 100%;
		align-items: center;
	}
	.terminal-container{
		flex-grow: 1;
		margin: 0px;
		padding-left: 2em;
	}

	.meIcon{
		width: 600px;
		height:auto;
		margin-left: -120px; 
	}
	
}
@media screen and (max-width: 480px) {
	
	.user-social {
		font-size: 50%;
	}

	#user-name {
		font-size: 2em;
	}

	nav {
		font-size: 80%;
	}

	.dropdown-menu li {
		font-size: 80%;
	}
}




@media screen and (max-width: 320px) {
	.user-social {
		font-size: 40%;
	}

	#user-name {
		font-size: 2em;
	}

	nav {
		font-size: 80%;
	}

	.dropdown-menu li {
		font-size: 80%;
	}
}
