* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  :root {
    --purple: hsl(308, 88%, 80%);
    --light-bg: hsl(204, 37%, 92%);
  }
  
  body {
    /*background: rgb(28, 38, 59);*/
    font-family: "Space Grotesk", sans-serif;
    color: var(--dark);
    background-color:#1D263B;
  
  }
  
  h3 {
    font-size: 1.5em;
    font-weight: 700;
    color: white;
  }
  
  p {
    font-size: 1em;
    line-height: 1.7;
    font-weight: 300;
    color: var(--text-gray);
    
  }
  
  div p {
      text-align: justify;
  }
  
  .description {
    white-space: wrap;
    color: white;
    margin: 0px;
    font-size: 15pt;
    word-spacing: 0px;
    padding-bottom: 2em;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  .wrap {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    gap: 24px;
    padding: 65px;
    flex-wrap: wrap;
    
  }
  
  
  
  
  .box {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    position: relative;
    padding: 24px;
    background: #3547d2;
    border-radius: 30px;
    border: 2px solid rgb(235, 148, 207);
  
  }
  
  .box-top {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 12px;
    margin-bottom: 36px;
  }
  
  .box-image {
    width: 100%;
    height: 360px;
    object-fit: cover;
    object-position: 50% 20%;
    border-radius: 40px;
  }
  
  .title-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .box-title {
    border-left: 3px solid var(--purple);
    padding-left: 12px;
  }
  
  .user-follow-info {
    font-family: monospace;
    font-weight: bold;
    bottom: 80px;
    position: absolute;
  }
  
  h3{
    font-family: 'Concert One', cursive;
      color: rgb(235, 148, 207);
  
  }
  
  
  .aboutMeTitle {
    padding-top:200px;
  }
  
  .button {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: auto;
    padding: 16px;
    color: #f5efef;
    font-weight: bold;
    background: transparent;
    border-radius: 30px;
    box-shadow: 0px 0px 0px 1px rgb(235, 148, 207) inset;
  }
  
  .button:hover {
    background: var(--purple);
  }
  
  .user-follow-info .hash1{
    color:rgb(250, 26, 26);
  }
  
  .user-follow-info .hash2{
    color:rgb(38, 234, 38);
  }
  
  .user-follow-info .hash3{
    color:rgb(18, 212, 246);
  }
  
  
  
  
  
  /* RESPONSIVE QUERIES */
  
  @media (min-width: 320px) {
    .title-flex {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: start;
    }
    .user-follow-info {
      margin-top: 6px;
    }
  }
  
  @media (min-width: 460px) {
    .title-flex {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: start;
    }
    .user-follow-info {
      margin-top: 6px;
    }
  }
  
  @media (min-width: 640px) {
    .box {
      flex-basis: calc(50% - 12px);
    }
    .title-flex {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: start;
    }
    .user-follow-info {
      margin-top: 6px;
    }
  }
  
  @media (min-width: 840px) {
    .title-flex {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: start;
    }
    .user-follow-info {
      margin-top: 6px;
    }
  }
  
  @media (min-width: 1024px) {
    .box {
      flex-basis: calc(33.3% - 16px);
    }
    .title-flex {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: start;
    }
    .user-follow-info {
      margin-top: 6px;
    }
  }
  
  @media (min-width: 1100px) {
    .box {
      flex-basis: calc(25% - 18px);
    }
  }
  